extends ../layout
block content
    .container
        //- #calendar
        table#indexTable
            thead
                tr
                    th 编号
                    th 状态
                    th 描述
                    th 截止
                    th 内容
                    th 责任人
                    //- th 查看
                    th(data-tableexport-display='none') 操作
                tbody
                    each item in projects
                        //- 未完成
                        if (item.status === 0)
                            tr(class=`item-id-${item._id}`)
                                td #{item.pid}
                                if moment(item.start).format('ww') === moment(Date.now()).format('ww')
                                    td.text-muted open
                                else if moment(item.deadline).format('YYYY/MM/DD') < moment(Date.now()).format('YYYY/MM/DD')
                                    td.text-danger pending
                                else
                                    td.text-primary going 
                                td #{item.name}
                                td #{moment(item.deadline).format('YYYY/MM/DD')}
                                td #{item.description}
                                td #{item.responser.nickname}
                                td(data-tableexport-display='none')
                                    if user
                                        if user._id == item.responser._id || user.role == 50
                                            a.del(href="#"): span.glyphicon.glyphicon-remove(data-id=item._id data-week=moment(item.start).format('ww') aria-hidden="true")
                                            span &nbsp;|&nbsp;
                                            a(href=`/user/project/${item._id}`): span.glyphicon.glyphicon-pencil(aria-hidden="true")
                        else
                            tr(class=`item-id-${item._id} success`)
                                td #{item.pid}
                                td close
                                td #{item.name}
                                td #{moment(item.deadline).format('YYYY/MM/DD')}
                                td #{item.description}
                                td #{item.responser.nickname}
                                td(data-tableexport-display='none')
                                    if user
                                        if user._id == item.responser._id || user.role == 50
                                            a.del(href="#"): span.glyphicon.glyphicon-remove(data-id=item._id data-week=moment(item.start).format('ww') aria-hidden="true")
                                            span &nbsp;|&nbsp;
                                            a(href=`/user/project/${item._id}`): span.glyphicon.glyphicon-pencil(aria-hidden="true")
                                //- td: a(target='_blank', href='/project/#{item._id}') 查看
                                //- td
                                //-     button.btn.btn-primary(type='button', data-id='#{item.id}') 查看
                                //-     button.btn.btn-danger.del(type='button', data-id='#{item.id}') 删除
                                //- td #{item._id}
                                //- td #{item.status}
                                //- td #{item.name}
                                //- td #{item.deadline}
                                //- td #{item.description}
                                //- td #{item.responser.nickname}
                                //- td: a(target='_blank', href='/project/#{item._id}') 查看
                                //- td
                                //-     button.btn.btn-primary(type='button', data-id='#{item.id}') 查看
                                //-     button.btn.btn-danger.del(type='button', data-id="#{item.id}") 删除

    hr

    script(src="/js/index.js")
                    
        